   body,p,select,textarea {
 color:#222;
 font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
 font-size:16px;
 line-height:1.6;
 text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
 font-family:Arial,Helvetica,sans-serif;
 font-style:normal;
 font-weight:bold;
 text-transform:none;
}
h1 {
 font-size:26px;
 color:#42213a;
}
h2 {
 font-size:24px;
 color:#42213a;
}
h3 {
 font-size:22px;
 color:#42213a;
}
h4 {
 font-size:20px;
 color:#42213a;
}
h5 {
 font-size:18px;
 color:#42213a;
}
h6 {
 font-size:16px;
 color:#42213a;
}